* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-size: 30px;
}

body {
    margin: 0;
    min-width: 328px;
}

/* Nastavení kontejnerů*/
.container {
    width: 100%;
    margin: 0 auto;
    border: 1px solid blue;
}

.hero-wrapper {
    width: 80%;
    margin: 0 20px;
    justify-content: right;
}

/*.content-container {
    max-width: 1000px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    position: relative;
}
@media (min-width: 756px) {
    .content-container {
      margin: auto;
      width: 90%;
    }
}*/

/* Navigace */
nav {
    background-color: #33292a;
    height: 50px;
    display: flex;
    justify-content: center;
}

.navigation-list {
    width: 60%;
    margin: 20px 20px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    border: 1px solid black;
}
@media (min-width: 756px) {
    .navigation-list {
      width: 60%;
      margin: 0 auto;
    }
}

nav li {
    padding: 10px;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

/* Hamburger */
.icon {
    display: none;
    height: 25px;
    width: 30px;
    margin: 10px;
  }
  .icon img {
    height: 100%;
    width: 100%;
    display: block;
  }
  @media screen and (max-width: 768px) {
    nav ul a {
      display: none;
    }
    .icon {
      display: block;
    }
  }

/* navigace pro mobily */
.icon {
    display: none;
    height: 35px;
    width: 30px;
    margin-left: auto;
    margin-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    cursor: pointer;
}

.icon img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 576px) {
    nav ul {
      display: none;
    }
    .icon {
      display: block;
    }
}

/* header */

.hero {
    background-image: url("/images/scott-goodwill-y8Ngwq34_Ak-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
@media (max-width:768px) {
    .hero {
        min-height: 76vh;
        height: auto;
    }
}

.hero-wrapper {
    border: 1px solid black;
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
@media (max-width: 768px) {
    .hero-wrapper {
        width: 90%;
    }
}

.hero-text {
    color: #fff;
    border: 1px solid red;
    text-align: right;
}

.hero-text h1 {
    white-space: pre-wrap;
    font-size: clamp(46px, 6vw, 96px);
    margin: 0;
}
@media (max-width: 768px) {
    .hero-text h1 {
        font-size: clamp(32px, 8vw, 46px);
    }
}

/* main */
.about {
    display: flex;
    justify-content: center;
}

.about-wrapper {
    border: 1px solid black;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 60%;
    margin: 80px auto;
    padding-right: 10px;
    padding-left: 10px;
}
@media (max-width: 768px) {
    .about-wrapper {
        flex-direction: column;
        width: 90%;
    }
}

.about-text {
    /*padding-right: 40px;*/
    padding-right: 10%;
    font-size: 16px;
    text-align: left;
    width: 50%;
}
@media (max-width: 768px) {
    .about-text {
        font-size: 14px;
        padding-right: 0;
        width: 100%;
        padding-bottom: 20px;
    }
}

.about-image {
    display: flex;
    width: 50%;
}
@media (max-width: 768px) {
    .about-image {
        width: 100%;
        padding-bottom: 20px;
    }
}

.about-text h2 {
    margin-bottom: 10px;
}
@media (max-width: 768px) {
    .about-text h2 {
        margin-bottom: 20px;
    }
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid red;
    border-radius: 5px;
}

/* Section - What-we-do */
.what-we-do {
    background-color: #33292a;
    display: flex;
    margin-bottom: 0;
    justify-content: center;
}

.what-we-do-wrapper {
    width: 60%;
    margin: 80px auto;
    border: 1px solid yellow;
}
@media (max-width: 768px) {
    .what-we-do-wrapper {
        width: 90%;
    }
}

.what-we-do-text {
    color: white;
    text-align: center;
    font-size: 16px;
}
@media (max-width: 768px) {
    .what-we-do-text {
        font-size: 14px;
    }
}

.what-we-do-text h2 {
    margin-bottom: 20px;
}

.what-we-do-icons {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
@media (max-width: 768px) {
    .what-we-do-icons {
        flex-direction: column;
    }
}


.what-we-do-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}
@media (max-width: 768px) {
    .what-we-do-icon {
        margin-top: 40px;
        gap: 12px;
    }
}

.what-we-do-icon img {
    width: 80px;
    height: auto;
    border: 1px solid blue;
    margin-bottom: 12px;
}

.what-we-do-icon p {
    border: 1px solid green;
    color: white;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

/* Section - Trips */

.trips {
    display: flex;
    justify-content: center;
    border: 1px solid green;
    padding-bottom: 80px;
    padding-top: 80px;
}
@media (max-width: 768px) {
    .trips {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    }
}

.trips-wrapper {
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content: center;
    gap: 20px;
}
@media (max-width: 768px) {
    .trips-wrapper {
        display: grid;
        width: 90%;
        height: auto;
        grid-template-columns: 1fr;
        gap: 4px;
        padding: 40px 0 60px 0;
    }
}

.trips div {
    border: 1px solid yellow;
    aspect-ratio: 1 / 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}
@media (max-width: 768px) {
    .trips div {
        aspect-ratio: auto !important;
        text-align: center;
        font-size: small;
    }
}


@media (max-width: 576px) {
    .trips div {
    }
}

.trips1 {
    background-image: url(/images/simon-english-48nerZQCHgo-unsplash.jpg);
}
.trips2 {
    background-image: url(/images/james-wheeler-ZOA-cqKuJAA-unsplash.jpg)
}
.trips3 {
    background-image: url(/images/daniel-tseng-73lmMKhi2U8-unsplash.jpg);
}
.trips4 {
    background-image: url(/images/holly-mandarich-UVyOfX3v0Ls-unsplash.jpg);
}
.trips5 {
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.trips6 {
    background-image: url(/images/patrick-szylar-45bM3XGqnDE-unsplash.jpg);
}
.trips7 {
    background-image: url(/images/chung-yee-tsang-wqxCKM0R6R8-unsplash.jpg);
}
.trips8 {
    background-image: url(/images/julian-bialowas-ilkTnuMunP8-unsplash.jpg);
}
.trips9 {
    background-image: url(/images/matej-drha-rbDzMcJsBkY-unsplash.jpg);
}

.trips1, .trips4, .trips7 {
    flex-grow: 1;
    width: 30%;
}
@media (max-width: 768px) {
    .trips1, .trips4, .trips7 {
        width: 100%;
        height: auto;
        padding-top: 65%;
    }
}

.trips2, .trips5, .trips8 {
    flex-grow: 2;
    width: 30%;
}
@media (max-width: 768px) {
    .trips2, .trips8 {
        width: 100%;
        height: auto;
        padding-top: 65%;
    }
}
@media (max-width: 768px) {
    .trips5 {
        width: 100%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.trips3, .trips6, .trips9 {
    flex-grow: 3;
    width: 30%;
}
@media (max-width: 768px) {
    .trips3, .trips6, .trips9 {
        width: 100%;
        height: auto;
        padding-top: 65%;
    }
}


/* Section - Where-to-go */
.where-to-go {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #644b4f;
    color: white;
}

.where-to-go-wrapper {
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 80px auto;
    width: 60%;
}
@media (max-width: 768px) {
    .where-to-go-wrapper {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-top: 60px;
        margin-bottom: 60px;
    }
}

.where-to-go-1 {
    width: 30%;
    padding-right: 50px;
    font-size: larger;
    display: flex;
    align-items: flex-start;
}
@media (max-width: 768px) {
    .where-to-go-1 {
        width: 100%;
        margin-bottom: 40px;
        font-size: medium;
    }
}

.where-to-go-2 {
    width: 60%;
    padding-left: 30px;
}
@media (max-width: 768px) {
    .where-to-go-2 {
        width: 100%;
        padding: 0;
        font-size: 14px;
    }
}

/* Tlačítko Contact Us */
.contact-wrapper {
    width: 60%;
    padding-top: 40px;
}

.contact-button {
    border-radius: 4px;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}
@media (max-width: 768px) {
    .contact-button {
        padding: 10px 18px;
        font-size: 12px;
    }
}

.contact-button:hover {
    background-color: #33292a;
    color: #fff;
    font-weight: bold;
}


/* Section - Reviews */
.reviews {
    border: 1px solid red;
    display: flex;
    justify-content: center;
}

.reviews-wrapper {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 80px auto;
    width: 60%;
    font-size: 16px;
}
@media (max-width: 768px) {
    .reviews-wrapper {
        width: 90%;
        margin-top: 80px;
        margin-bottom: 40px;
        font-size: 14px;
    }
}

.reviews-text {
    margin-bottom: 40px;
    width: 38%;
}
@media (max-width: 768px) {
    .reviews-text {
        width: 100%;
    }
}

.reviews-text h2 {
    margin-bottom: 20px;
}

.review-content {
    display: flex;
    justify-content: center;
    gap: 80px;
    width: 100%;
    max-width: 1200px;
}
@media (max-width: 768px) {
    .review-content {
        display: flex;
        flex-direction: column;
        gap: 0px
    }
}

.reviews1,
.reviews2 {
    margin-top: 20px;
    width: 38%;
}
@media (max-width: 768px) {
    .reviews1,
    .reviews2 {
        width: 100%;
    }
}

.reviews1 img, .reviews2 img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}
@media (max-width: 768px) {
    .reviews img {
        width: 80px;
        height: 80px;
    }
}

.reviews1 {

}

.reviews1 p {
    margin-bottom: 20px;
}

.reviews1 p:last-of-type {
    font-weight: bold;
}

.reviews2 p {
    margin-bottom: 20px;
}

.reviews2 p:last-of-type {
    font-weight: bold;
}


/* footer */

.footer-wrapper {
    /*width: 100%;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.footer-images {
    width: 100%;
    height: auto;
    display: flex;
    /*flex-wrap: wrap;*/
}

.footer-images div {
    border: 1px solid yellow;
    width: 50%;
    height: auto;
    /*background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
}

/*.footer-images img {
    width: 100%;
    height: 80%;
}*/

.footer-img1 {
    background-image: url(/images/alexey-fedenkov-BaCZYH9RLmQ-unsplash.jpg);
}

.footer-img2 {
    background-image: url(/images/omer-salom-LoijtQXXNhs-unsplash.jpg);
}

.footer-img3 {
    background-image: url(/images/vincentiu-solomon-7MH4ped6_Mo-unsplash.jpg);
}

.footer-img4 {
    background-image: url(/images/daniel-tseng-73lmMKhi2U8-unsplash.jpg);
}

.footer-img1, .footer-img3 {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    /*width: 50%;*/
}

.footer-img2, .footer-img4 {
    flex-grow: 2;
    /*width: 50%;*/
}